button{
  background: none!important;
  border:none;
  padding:  0!important;
  color: #069;
  cursor: pointer;
  margin: 5px;
  font-size: 15px;
}

.head{
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  color:chocolate
}